<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Classification System</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="title">
        <a href="{{ url_for('index') }}">
            <h1 id="PCS">Personality Classification System</h1>
        </a>
    </div>
    <div id="QA">
        <form name="project" action="/Results6" method="post">
            <div class="qa">
              <label for="openness" class="font1">Openness</label><br>
              <p id="info" class="font2">Openness describe your imagination and how creative you are. It refers to your sense of curiosity about the world and your willingness to try new things.</p>
              <input type="text" name="openness" id="answer" placeholder="Rate yourself between 1 to 8" maxlength="1"
              oninput="javascript: var num = /[1-8]/; if (this.value.match(num)) {pass} else {value=null}"><br>
            </div>
            <br>

            <div class="qa">
              <label for="neuroticism" class="font1">Neuroticism</label><br>
              <p id="info" class="font2">Neuroticism is a personality trait that refers to your emotional stability. As a personality dimension, neuroticism is characterized by unsettling thoughts and feelings of sadness or moodiness.</p>
              <input type="text" name="neuroticism" id="answer" placeholder="Rate yourself between 1 to 8" maxlength="1"
              oninput="javascript: var num = /[1-8]/; if (this.value.match(num)) {pass} else {value=null}"><br>
            </div>
            <br>

            <div class="qa">
              <label for="conscientiousness" class="font1">Conscientiousness</label><br>
              <p id="info" class="font2">Conscientiousness is a trait that refers to how thoughtful and goal-oriented you are. It’s how in control you are over your impulses and your level of organization and work ethic.</p>
              <input type="text" name="conscientiousness" id="answer" placeholder="Rate yourself between 1 to 8" maxlength="1"
              oninput="javascript: var num = /[1-8]/; if (this.value.match(num)) {pass} else {value=null}"><br>
            </div>
            <br>

            <div class="qa">
              <label for="agreeableness" class="font1">Agreeableness</label><br>
              <p id="info" class="font2">Agreeableness is a personality trait that describes how you treat your relationships with others. It’s how kind and helpful you are toward people.</p>
              <input type="text" name="agreeableness" id="answer" placeholder="Rate yourself between 1 to 8" maxlength="1"
              oninput="javascript: var num = /[1-8]/; if (this.value.match(num)) {pass} else {value=null}"><br>
            </div>
            <br>

            <div class="qa">
              <label for="extraversion" class="font1">Extraversion</label><br>
              <p id="info" class="font2">Extraversion, sometimes called extroversion, reflects how you interact socially. It describes your emotional expression and how comfortable you are in your environment.</p>
              <input type="text" name="extraversion" id="answer" placeholder="Rate yourself between 1 to 8" maxlength="1"
              oninput="javascript: var num = /[1-8]/; if (this.value.match(num)) {pass} else {value=null}"><br>
            </div>
            <br>

            <button type="submit" class="btn" id="pcs" >Submit</button>
          </form>
    </div>
</body>
<script>
</script>
</html>